.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;

}


.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active-link {
  background-color: rgb(240, 240, 240);
  /* Cambiar el color de fondo a gris */
}

.contenido {
  padding-top: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}