<div class="container">

  <header class="navbar" [ngClass]="isDarkTheme ? 'dark' : 'light'">

    <img src="assets/img/UvSaludV3.png" alt="Logo" class="logo">

    <mat-slide-toggle (change)="toggleDarkTheme($event.checked)" [checked]="isDarkTheme" class="theme-toggle-container">
      <mat-icon class="theme-toggle" [ngClass]="isDarkTheme ? 'dark' : 'light'">
        dark_mode
      </mat-icon>
    </mat-slide-toggle>

  </header>

  <section class="main-content" [ngClass]="isDarkTheme ? 'dark' : 'light'">

    <aside class="sidenav" [ngClass]="isDarkTheme ? 'dark' : 'light'">

      <div class="nav-list-top">

        <a routerLink="home" class="links" routerLinkActive="active-link" [ngClass]="isDarkTheme ? 'dark' : 'light'"
          [routerLinkActiveOptions]="{ exact: false }"><mat-icon class="icons"
            [ngClass]="isDarkTheme ? 'dark' : 'light'">home</mat-icon></a>

        <a *ngIf="authService.tienePermiso('pacientes', 'Ver')" routerLink="pacientes" class="links"
          routerLinkActive="active-link" [ngClass]="isDarkTheme ? 'dark' : 'light'"
          [routerLinkActiveOptions]="{ exact: false }"><mat-icon class="icons"
            [ngClass]="isDarkTheme ? 'dark' : 'light'">medical_information</mat-icon></a>

        <a *ngIf="authService.tienePermiso('usuarios', 'Ver')" routerLink="usuarios" class="links"
          routerLinkActive="active-link" [ngClass]="isDarkTheme ? 'dark' : 'light'"
          [routerLinkActiveOptions]="{ exact: false }"><mat-icon class="icons"
            [ngClass]="isDarkTheme ? 'dark' : 'light'">people</mat-icon></a>

        <a *ngIf="authService.tienePermiso('roles', 'Ver')" routerLink="roles" class="links"
          routerLinkActive="active-link" [ngClass]="isDarkTheme ? 'dark' : 'light'"
          [routerLinkActiveOptions]="{ exact: false }"><mat-icon class="icons"
            [ngClass]="isDarkTheme ? 'dark' : 'light'">description</mat-icon></a>

      </div>

      <div class="nav-list-bottom">
        <a (click)="openDialog('1000ms', '0ms')" class="links logout"
          [ngClass]="isDarkTheme ? 'dark' : 'light'"><mat-icon class="icons"
            [ngClass]="isDarkTheme ? 'dark' : 'light'">logout</mat-icon></a>
      </div>

    </aside>

    <div class="content" [ngClass]="isDarkTheme ? 'dark' : 'light'"><router-outlet></router-outlet></div>

  </section>

</div>