<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: false }">Inicio</a>
      <a *ngIf="authService.tienePermiso('pacientes', 'Ver')" mat-list-item routerLink="pacientes"
        routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">Administrar pacientes</a>
      <a *ngIf="authService.tienePermiso('usuarios', 'Ver')" mat-list-item routerLink="usuarios"
        routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">Administrar usuarios</a>
      <a *ngIf="authService.tienePermiso('roles', 'Ver')" mat-list-item routerLink="roles"
        routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">Administrar roles</a>
      <a *ngIf="authService.tienePermiso('registros', 'Ver')" mat-list-item routerLink="registros"
        routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">Administrar registros</a>
      <a mat-list-item (click)="openDialog('1000ms', '0ms')">Cerrar sesión</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- Botón para mobile -->
      <button *ngIf="(isHandset$ | async)" type="button" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div class="barra">
        <span>{{ pageTitle }}</span>
        <!-- Mostrar fecha y hora actual -->
        <span class="date-time">
          {{ currentDate | date:'mediumDate' }} - {{ currentDate | date:'mediumTime' }}
        </span>

        <!-- Botón de alternar tema -->
        <mat-slide-toggle (change)="toggleDarkTheme($event.checked)" [checked]="isDarkTheme" class="dark-theme-toggle">
          <mat-icon>dark_mode</mat-icon>
        </mat-slide-toggle>
      </div>

    </mat-toolbar>

    <div class="contenido">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>