<div>
  <mat-tab-group animationDuration="0s" class="Formulario" color="accent">

    <!-- Información Personal -->
    <mat-tab label="Información Personal">
      <form [formGroup]="pacienteForm" class="seccion">

        <mat-form-field class="form-field" color="accent">
          <mat-label>Nombre completo</mat-label>
          <input matInput formControlName="nombre">
        </mat-form-field>

        <mat-form-field class="form-field" color="accent">
          <mat-label>Fecha de nacimiento</mat-label>
          <input type="date" matInput formControlName="fecha_nacimiento">
        </mat-form-field>


        <mat-radio-group formControlName="estado_civil" aria-label="Estado civil" color="accent">
          <label>Estado civil:</label>
          <mat-radio-button value="Soltero(a)">Soltero(a)</mat-radio-button>
          <mat-radio-button value="Casado(a)">Casado(a)</mat-radio-button>
          <mat-radio-button value="Divorciado(a)">Divorciado(a)</mat-radio-button>
          <mat-radio-button value="'Viudo(a)">Viudo(a)</mat-radio-button>
          <mat-radio-button value="Unión Libre">Unión Libre</mat-radio-button>
          <mat-radio-button value="Separado(a)">Separado(a)</mat-radio-button>
          <mat-radio-button value="Otros">Otro</mat-radio-button>
        </mat-radio-group>


        <mat-form-field class="form-field" color="accent">
          <mat-label>Origen</mat-label>
          <input matInput formControlName="origen">
        </mat-form-field>

        <mat-form-field class="form-field" color="accent">
          <mat-label>Ocupacion</mat-label>
          <input matInput formControlName="ocupacion">
        </mat-form-field>

        <mat-form-field class="form-field" color="accent">
          <mat-label>Residencia</mat-label>
          <input matInput formControlName="residencia">
        </mat-form-field>

        <mat-radio-group formControlName="sexo" aria-label="Seleccione un género" color="accent">
          <label>Sexo:</label>
          <mat-radio-button value=1>Masculino</mat-radio-button>
          <mat-radio-button value=2>Femenino</mat-radio-button>
        </mat-radio-group>

      </form>
    </mat-tab>

    <!-- Información Académica -->
    <mat-tab label="Información Académica">
      <form class="seccion" [formGroup]="pacienteForm">

        <mat-form-field class="form-field" color="accent">
          <mat-label>Matrícula</mat-label>
          <input matInput formControlName="matricula">
        </mat-form-field>

        <mat-form-field class="form-field" color="accent">
          <mat-label>Semestre</mat-label>
          <input type="number" matInput formControlName="semestre" (paste)="onPaste($event, 2)"
            (keypress)="blockInvalidChars($event, 2)" (input)="onInput($event, 2)">
        </mat-form-field>

        <mat-form-field class="form-field" color="accent">
          <mat-label>Facultad</mat-label>
          <input matInput formControlName="facultad">
        </mat-form-field>

        <mat-form-field class="form-field" color="accent">
          <mat-label>Grupo</mat-label>
          <input type="number" matInput formControlName="grupo" (paste)="onPaste($event, 3)"
            (keypress)="blockInvalidChars($event, 3)" (input)="onInput($event, 3)">
        </mat-form-field>

        <mat-form-field class="form-field" color="accent">
          <mat-label>Programa Educativo</mat-label>
          <input matInput formControlName="programa_educativo">
        </mat-form-field>

      </form>
    </mat-tab>

    <!-- Contacto y Seguridad Social -->
    <mat-tab label="Contacto y Seguridad Social">
      <form class="seccion" [formGroup]="pacienteForm">

        <mat-form-field class="form-field" color="accent">
          <mat-label>Número de teléfono</mat-label>
          <span matTextPrefix style="color: gray;">+52 &nbsp;</span>
          <input matInput formControlName="telefono" (paste)="onPaste($event, 10)"
            (keypress)="blockInvalidChars($event, 10)" (input)="formatPhoneNumber($event,10)">
        </mat-form-field>

        <mat-form-field class="form-field" color="accent">
          <mat-label>NSS</mat-label>
          <input type="number" matInput formControlName="nss" (paste)="onPaste($event, 11)"
            (keypress)="blockInvalidChars($event,11)" (input)="onInput($event, 11)">
        </mat-form-field>

      </form>
    </mat-tab>

    <!-- Información Adicional -->
    <mat-tab label="Información Adicional">
      <form class="seccion" [formGroup]="pacienteForm">

        <mat-form-field class="form-field" color="accent">
          <mat-label>Religión</mat-label>
          <input matInput formControlName="religion">
        </mat-form-field>

        <mat-form-field class="form-field" color="accent">
          <mat-label>Escolaridad</mat-label>
          <input matInput formControlName="escolaridad">
        </mat-form-field>

      </form>
    </mat-tab>

  </mat-tab-group>
</div>

<div class="form-actions">
  <button mat-raised-button routerLink="/layout/pacientes" color="warn">Cancelar</button>
  <button mat-raised-button color="accent" (click)="onSave()">Guardar
    Paciente</button>
</div>