table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.actions {
    display: grid;
    grid-template-columns: 90% 10%;
    justify-items: center;
}

button {
    width: 90%;
    height: 50%;
    margin-top: 1vh;
}