<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false" autosize>
    <mat-sidenav class="sidenav-data" #sidenav mode="side" position="end" opened="false" [style.width.px]="sidenavWidth">
        <div class="resize-handle" (mousedown)="startResize($event)"></div>
        <div class="sidenav-content-wrapper">
            <h1>Información del paciente</h1>
            <app-paciente-data [isSidenav]="true"></app-paciente-data>
        </div>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="Formulario">
            <div class="header-section">
                <h2>Nota de Evolución</h2>
            </div>
            
            <mat-tab-group animationDuration="0s" color="accent">

                <!-- Signos Vitales -->
                <mat-tab label="Signos Vitales">
                    <form [formGroup]="notaForm" class="seccion">
                        
                        <div class="grid-2-col">
                            <mat-form-field class="form-field" color="accent">
                                <mat-label>Peso (kg)</mat-label>
                                <input matInput formControlName="peso" type="number">
                            </mat-form-field>

                            <mat-form-field class="form-field" color="accent">
                                <mat-label>Talla (cm)</mat-label>
                                <input matInput formControlName="talla" type="number">
                            </mat-form-field>
                        </div>

                        <div class="grid-2-col">
                            <mat-form-field class="form-field" color="accent">
                                <mat-label>IMC</mat-label>
                                <input matInput formControlName="imc" type="number">
                            </mat-form-field>

                            <mat-form-field class="form-field" color="accent">
                                <mat-label>Tensión Arterial</mat-label>
                                <input matInput formControlName="ta">
                            </mat-form-field>
                        </div>

                        <div class="grid-2-col">
                            <mat-form-field class="form-field" color="accent">
                                <mat-label>Frecuencia Cardíaca</mat-label>
                                <input matInput formControlName="fc" type="number">
                            </mat-form-field>

                            <mat-form-field class="form-field" color="accent">
                                <mat-label>Frecuencia Respiratoria</mat-label>
                                <input matInput formControlName="fr" type="number">
                            </mat-form-field>
                        </div>

                        <div class="grid-2-col">
                            <mat-form-field class="form-field" color="accent">
                                <mat-label>Temperatura (°C)</mat-label>
                                <input matInput formControlName="temperatura" type="number">
                            </mat-form-field>

                            <mat-form-field class="form-field" color="accent">
                                <mat-label>Saturación (%)</mat-label>
                                <input matInput formControlName="saturacion" type="number">
                            </mat-form-field>
                        </div>

                        <div class="grid-2-col">
                            <mat-form-field class="form-field" color="accent">
                                <mat-label>Glicemia</mat-label>
                                <input matInput formControlName="glicemia" type="number">
                            </mat-form-field>

                            <mat-form-field class="form-field" color="accent">
                                <mat-label>Hemoglobina</mat-label>
                                <input matInput formControlName="hemoglobina" type="number">
                            </mat-form-field>
                        </div>

                        <mat-form-field class="form-field" color="accent">
                            <mat-label>Hemotipo</mat-label>
                            <input matInput formControlName="hemotipo">
                        </mat-form-field>

                    </form>
                </mat-tab>

                <!-- Interrogatorio y Exploración -->
                <mat-tab label="Interrogatorio y Exploración">
                    <form [formGroup]="notaForm" class="seccion">

                        <mat-form-field class="form-field" color="accent">
                            <mat-label>Interrogatorio</mat-label>
                            <textarea matInput formControlName="interrogatorio"></textarea>
                        </mat-form-field>

                        <mat-form-field class="form-field" color="accent">
                            <mat-label>Padecimiento Actual</mat-label>
                            <textarea matInput formControlName="padecimiento"></textarea>
                        </mat-form-field>

                        <mat-form-field class="form-field" color="accent">
                            <mat-label>Exploración Física</mat-label>
                            <textarea matInput formControlName="exploracion"></textarea>
                        </mat-form-field>

                    </form>
                </mat-tab>

                <!-- Diagnóstico y Tratamiento -->
                <mat-tab label="Diagnóstico y Tratamiento">
                    <form [formGroup]="notaForm" class="seccion">

                        <mat-form-field class="form-field" color="accent">
                            <mat-label>Análisis</mat-label>
                            <textarea matInput formControlName="analisis"></textarea>
                        </mat-form-field>

                        <mat-form-field class="form-field" color="accent">
                            <mat-label>Diagnóstico</mat-label>
                            <textarea matInput formControlName="diagnostico"></textarea>
                        </mat-form-field>

                        <mat-form-field class="form-field" color="accent">
                            <mat-label>Plan de Tratamiento</mat-label>
                            <textarea matInput formControlName="plan"></textarea>
                        </mat-form-field>

                        <mat-form-field class="form-field" color="accent">
                            <mat-label>Tratamiento</mat-label>
                            <textarea matInput formControlName="tratamiento"></textarea>
                        </mat-form-field>

                    </form>
                </mat-tab>

            </mat-tab-group>
        </div>

        <div class="form-actions">
            <button mat-raised-button routerLink="/layout/pacientes" color="warn">Cancelar</button>
            <button mat-raised-button color="accent" (click)="onSave()">Guardar nota de evolución</button>
            <button mat-raised-button color="primary" (click)="toggleSidenav(sidenav)">
                {{ sidenav.opened ? 'Ocultar' : 'Mostrar' }} Información del Paciente
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>