<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav-data" #sidenav mode="side" position="end" opened="false">
         Add content for the sidenav here -->
<!-- <h1>Información del paciente</h1>
        <app-paciente-data></app-paciente-data> -->
<!-- </mat-sidenav> 
    <mat-sidenav-content> -->
<!-- <h1> {{"Creando registro del paciente: "+nombrePaciente}}</h1> -->
<div>
    <mat-tab-group animationDuration="0s" class="Formulario" color="accent">

        <!-- Información Personal -->
        <mat-tab label="Información Personal">
            <form [formGroup]="notaForm" class="seccion">

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Interrogatorio</mat-label>
                    <textarea matInput formControlName="interrogatorio"></textarea>
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Peso</mat-label>
                    <input matInput formControlName="peso" type="number">
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Talla</mat-label>
                    <input matInput formControlName="talla" type="number">
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>IMC //Se calculara mas tarde de forma automatica</mat-label>
                    <input matInput formControlName="imc" type="number">
                </mat-form-field>

            </form>

        </mat-tab>

        <!-- Signos Vitales -->
        <mat-tab label="Signos Vitales">
            <form class="seccion" [formGroup]="notaForm">

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Tension arterial</mat-label>
                    <input matInput formControlName="ta">
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Frecuencia cardiaca</mat-label>
                    <input matInput formControlName="fc">
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Frecuencia respiratoria</mat-label>
                    <input matInput formControlName="fr">
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Temperatura</mat-label>
                    <input matInput formControlName="temperatura">
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Saturacion de oxigeno</mat-label>
                    <input matInput formControlName="saturacion">
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Glicemia</mat-label>
                    <input matInput formControlName="glicemia">
                </mat-form-field>

            </form>
        </mat-tab>

        <!-- Pruebas de laboratorio y exploraciones -->
        <mat-tab label="Pruebas de laboratorio y exploraciones">
            <form class="seccion" [formGroup]="notaForm">

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Hemoglobina</mat-label>
                    <input matInput formControlName="hemoglobina">
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Hemotipo</mat-label>
                    <input matInput formControlName="hemotipo">
                </mat-form-field>

            </form>
        </mat-tab>

        <!-- Historia clinica y Diagnostico -->
        <mat-tab label="Hisoria Clinica y Diagnostico">
            <form class="seccion" [formGroup]="notaForm">

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Padecimiento</mat-label>
                    <input matInput formControlName="padecimiento">
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Exploracion</mat-label>
                    <textarea matInput formControlName="exploracion"></textarea>
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Analisis</mat-label>
                    <textarea matInput formControlName="analisis"></textarea>
                </mat-form-field>


            </form>
        </mat-tab>


        <!-- Plan de tratamiento -->
        <mat-tab label="Plan de tratamiento">
            <form class="seccion" [formGroup]="notaForm">

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Plan</mat-label>
                    <textarea matInput formControlName="plan"></textarea>
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Diagnostico</mat-label>
                    <textarea matInput formControlName="diagnostico"></textarea>
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Tratamiento</mat-label>
                    <textarea matInput formControlName="tratamiento"></textarea>
                </mat-form-field>
            </form>
        </mat-tab>

    </mat-tab-group>
</div>

<div class="form-actions">
    <button mat-raised-button routerLink="/layout/pacientes" color="warn">Cancelar</button>
    <button mat-raised-button color="accent" (click)="onSave()">Guardar
        nota de evolución</button>
    <!-- 
            <button mat-raised-button color="accent" (click)="toggleSidenav(sidenav)">Mostrar
                Información
                Completa</button> -->
</div>
<!-- </mat-sidenav-content>
</mat-sidenav-container> -->