.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    width: 100vw;
}

.logo-container {
    position: relative;
    height: 5%;
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #185eaf;
    /* background: linear-gradient(135deg, #1bd57b 0%, #1d75d9 100%); */
    /* background: linear-gradient(to right, #3682d8 0%, #1d75d900 100%); */
    /* background-color: #1d75d9; */
    border-bottom-right-radius: 10px;
    padding: 1%;
}

.logo {
    height: 95%;
    filter: drop-shadow(0 0 0.1rem rgb(24, 167, 255));
}

.logo-title {
    /* margin-top: 1.5vh; */
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffffff;
}

.left-section {
    height: 100vh;
    /* background-image: url('../../../assets/img/Medicina.png'); */
    background: linear-gradient(135deg, #1bd57b 0%, #1d75d9 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.left-section.light {
    /* background: linear-gradient(135deg, #1bd57b 0%, #1d75d9 100%); */
}

.left-section.dark {
    /* background: linear-gradient(135deg, #17b368 0%, #185eaf 100%); */
}

.right-section {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 90%;
    align-items: center;
}

.right-section.light {
    background: white;
}

.right-section.dark {
    background: linear-gradient(135deg, #232526 0%, #414345 100%);
}

.theme-toggle-container {
    justify-self: end;
    margin-right: 2rem;

}

.right-section form {
    justify-self: center;
    align-self: center;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;

}

.theme-toggle.light {
    color: darkslategrey;
}

.theme-toggle.dark {
    color: burlywood;
}

.login-form {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.login-title {
    text-align: start;
    color: red;
}

.login-title.white {
    color: black;
}

.login-title.dark {
    color: #ffffff;
}


@media (max-width: 568px) {
    .logo {
        display: none;

    }

    .left-section {
        display: none;

    }

    .container {
        grid-template-columns: 1fr;

        justify-content: center;

    }


}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

/* 
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 5% 95%;
}

.container.white {
    background: linear-gradient(135deg, #1bd57b 0%, #1d75d9 100%);
}

.container.dark {
    background: linear-gradient(135deg, #505050 0%, #2e2e2e 100%);
}

.login-form {
    align-self: center;
    justify-self: center;
    display: flex;
    height: 50%;
    width: 50%;
    padding: 2%;
    border-radius: 10px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.800);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.theme-toggle.light {
    color: darkslategrey;
}

.theme-toggle.dark {
    color: burlywood;
}

.theme-toggle-container {
    justify-self: end;
    padding: 1%;
}

.login-title {
    text-align: center;
}

.login-title.white {
    color: black;
}

.login-title.dark {
    color: #ffffff;
} */