<div>
    <mat-tab-group animationDuration="0s" class="Formulario" color="accent">

        <!-- Pestaña 1: Identificación -->
        <mat-tab label="Identificación">
            <form [formGroup]="pacienteForm" class="seccion">

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Tipo de Paciente</mat-label>
                    <input matInput formControlName="tipo_paciente" readonly>
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>CURP</mat-label>
                    <input matInput formControlName="curp" readonly>
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Nombre completo</mat-label>
                    <input matInput formControlName="nombre" readonly>
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [value]="paciente?.fecha_nacimiento | date:'dd/MM/yyyy'" readonly>
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Sexo</mat-label>
                    <input matInput [value]="paciente?.sexo == 1 ? 'Masculino' : 'Femenino'" readonly>
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Estado civil</mat-label>
                    <input matInput formControlName="estado_civil" readonly>
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Lugar de Origen</mat-label>
                    <input matInput formControlName="origen" readonly>
                </mat-form-field>

            </form>
        </mat-tab>

        <!-- Pestaña 2: Contacto y Ubicación -->
        <mat-tab label="Contacto y Ubicación">
            <form [formGroup]="pacienteForm" class="seccion">

                <h3>Contacto Personal</h3>
                <mat-form-field class="form-field" color="accent">
                    <mat-label>Teléfono</mat-label>
                    <span matTextPrefix>+52 &nbsp;</span>
                    <input matInput formControlName="telefono" readonly>
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Correo Electrónico</mat-label>
                    <input matInput formControlName="email" readonly>
                </mat-form-field>

                <h3>Domicilio</h3>
                <div class="grid-2-col">
                    <mat-form-field class="form-field" color="accent">
                        <mat-label>Calle</mat-label>
                        <input matInput formControlName="calle" readonly>
                    </mat-form-field>
                    <div class="grid-2-col-inner">
                        <mat-form-field class="form-field" color="accent">
                            <mat-label>No. Ext</mat-label>
                            <input matInput formControlName="numero_exterior" readonly>
                        </mat-form-field>
                        <mat-form-field class="form-field" color="accent">
                            <mat-label>No. Int</mat-label>
                            <input matInput formControlName="numero_interior" readonly>
                        </mat-form-field>
                    </div>
                </div>

                <div class="grid-2-col">
                    <mat-form-field class="form-field" color="accent">
                        <mat-label>Colonia / Asentamiento</mat-label>
                        <input matInput formControlName="colonia" readonly>
                    </mat-form-field>
                    <mat-form-field class="form-field" color="accent">
                        <mat-label>Código Postal</mat-label>
                        <input matInput formControlName="cp" readonly>
                    </mat-form-field>
                </div>

                <div class="grid-2-col">
                    <mat-form-field class="form-field" color="accent">
                        <mat-label>Municipio / Alcaldía</mat-label>
                        <input matInput formControlName="municipio" readonly>
                    </mat-form-field>
                    <mat-form-field class="form-field" color="accent">
                        <mat-label>Entidad Federativa</mat-label>
                        <input matInput formControlName="entidad_federativa" readonly>
                    </mat-form-field>
                </div>

                <h3>Responsable Legal / Contacto Emergencia</h3>
                <mat-form-field class="form-field" color="accent">
                    <mat-label>Nombre Completo</mat-label>
                    <input matInput formControlName="nombre_responsable" readonly>
                </mat-form-field>

                <div class="grid-2-col">
                    <mat-form-field class="form-field" color="accent">
                        <mat-label>Parentesco</mat-label>
                        <input matInput formControlName="parentesco_responsable" readonly>
                    </mat-form-field>
                    <mat-form-field class="form-field" color="accent">
                        <mat-label>Teléfono Responsable</mat-label>
                        <input matInput formControlName="telefono_responsable" readonly>
                    </mat-form-field>
                </div>
                <mat-form-field class="form-field" color="accent">
                    <mat-label>Dirección Responsable</mat-label>
                    <input matInput formControlName="direccion_responsable" readonly>
                </mat-form-field>

            </form>
        </mat-tab>

        <!-- Pestaña 3: Afiliación Institucional -->
        <mat-tab label="Afiliación Institucional">
            <form [formGroup]="pacienteForm" class="seccion">

                <mat-form-field class="form-field" color="accent">
                    <mat-label>NSS (Seguridad Social)</mat-label>
                    <input matInput formControlName="nss" readonly>
                </mat-form-field>

                <!-- Campos Estudiante -->
                <div *ngIf="paciente?.tipo_paciente === 'Estudiante'">
                    <h3>Datos Escolares</h3>
                    <mat-form-field class="form-field" color="accent">
                        <mat-label>Matrícula</mat-label>
                        <input matInput formControlName="matricula" readonly>
                    </mat-form-field>
                    <mat-form-field class="form-field" color="accent">
                        <mat-label>Facultad</mat-label>
                        <input matInput formControlName="facultad" readonly>
                    </mat-form-field>
                    <mat-form-field class="form-field" color="accent">
                        <mat-label>Programa Educativo</mat-label>
                        <input matInput formControlName="programa_educativo" readonly>
                    </mat-form-field>
                    <div class="grid-2-col">
                        <mat-form-field class="form-field" color="accent">
                            <mat-label>Semestre</mat-label>
                            <input matInput formControlName="semestre" readonly>
                        </mat-form-field>
                        <mat-form-field class="form-field" color="accent">
                            <mat-label>Grupo</mat-label>
                            <input matInput formControlName="grupo" readonly>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Campos Trabajador (Docente o Administrativo) -->
                <div *ngIf="paciente?.tipo_paciente === 'Docente' || paciente?.tipo_paciente === 'Administrativo'">
                    <h3>Datos Laborales</h3>
                    <mat-form-field class="form-field" color="accent">
                        <mat-label>Número de Personal</mat-label>
                        <input matInput formControlName="numero_personal" readonly>
                    </mat-form-field>
                    <mat-form-field class="form-field" color="accent">
                        <mat-label>Puesto</mat-label>
                        <input matInput formControlName="puesto" readonly>
                    </mat-form-field>
                    <mat-form-field class="form-field" color="accent">
                        <mat-label>Área de Adscripción</mat-label>
                        <input matInput formControlName="area_adscripcion" readonly>
                    </mat-form-field>
                    <mat-form-field class="form-field" color="accent">
                        <mat-label>Tipo de Contratación</mat-label>
                        <input matInput formControlName="tipo_contratacion" readonly>
                    </mat-form-field>
                </div>

            </form>
        </mat-tab>

        <!-- Pestaña 4: Sociodemográfico y Legal -->
        <mat-tab label="Sociodemográfico y Legal">
            <form [formGroup]="pacienteForm" class="seccion">

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Ocupación</mat-label>
                    <input matInput formControlName="ocupacion" readonly>
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Religión</mat-label>
                    <input matInput formControlName="religion" readonly>
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Escolaridad</mat-label>
                    <input matInput formControlName="escolaridad" readonly>
                </mat-form-field>

                <div class="checkbox-container">
                    <mat-checkbox formControlName="habla_lengua_indigena" color="primary" [disabled]="true">Habla Lengua
                        Indígena</mat-checkbox>
                </div>

                <mat-form-field class="form-field" color="accent" *ngIf="paciente?.habla_lengua_indigena">
                    <mat-label>¿Cuál lengua?</mat-label>
                    <input matInput formControlName="lengua_indigena" readonly>
                </mat-form-field>

            </form>
        </mat-tab>

        <!-- Registros -->
        <mat-tab label="Registros">
            <div class="seccion" *ngIf="(paciente?.registros?.length ?? 0) > 0; else sinRegistros">
                <mat-card *ngFor="let registro of paciente?.registros" class="registro-card">
                    <mat-card-content>
                        <p><strong>ID:</strong> {{ registro.registro_id }}</p>
                        <p><strong>Tipo de Registro:</strong> {{ registro.tipo_registro }}</p>
                        <p><strong>Fecha de Creación:</strong> {{ registro.fecha_creacion | date:'dd/MM/yyyy HH:mm' }}
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <ng-template #sinRegistros>
                <p style="text-align: center; color: gray;">No hay registros disponibles.</p>
            </ng-template>
        </mat-tab>

    </mat-tab-group>
</div>

<div class="form-actions">
    <button mat-raised-button routerLink="/layout/pacientes" color="warn">Regresar</button>
    <button mat-raised-button color="accent" (click)="crearRegistro()">Crear Registro</button>
</div>