<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="lista" routerLink="hello-world">Test</a>
      <a mat-list-item routerLink="Pacientes">Administrar pacientes</a>
      <a mat-list-item routerLink="Usuarios">Administrar usuarios</a>
      <a mat-list-item routerLink="Roles">Administrar roles</a>
      <a mat-list-item routerLink="Notas">Administrar notas</a>
      <a mat-list-item routerLink="crearNotas">Crear notas</a>
      <a mat-list-item routerLink="">Cerrar sesion</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Expedientes</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
